@import "tailwindcss";


body {
    background-color: black;
    color: #fff;
    font-family: "Roboto", sans-serif;
    overflow-x: hidden;
}

@media (max-width: 415px) {
    .res {
        display: flex;
    flex-direction: column;
}  
}